/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-blue: #2196F3;
  --clr-red: #FF0000;
  --clr-green: #4CAF50;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}


/* @media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
} */

strong {
  font-weight: var(--fw-bold)
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}


h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  margin: .1em;
}

h2 {
  font-size: var(--fs-h2);
  margin: .1em;
}

h3 {
  font-size: var(--fs-h3);
  margin: .1em;
}

/******************************************
/* LAYOUT
/*******************************************/
header {}

main {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

div.container{
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
  max-width: 250px;
}
div.box{
  height:3.5rem ;
  width: 3.5rem;
  padding: .5em;
  box-shadow: var(--bs);
  border-radius: .4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box:hover{opacity: .8;}

.rock{
background-color: var(--clr-blue);
background-image: url(../img/punch.png);

}
.paper{
background-color: var(--clr-red);
background-image: url(../img/palm.png);
}
.scissor{
background-color: var(--clr-green);
background-image: url(../img/scissor.png);
}

span.human{
  color: var(--clr-blue);
}

span.bot{
  color: var(--clr-green);
}
footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/